@media only screen and (max-width: 1140px) {
    .navbar {
        height: 60px;

        .navbar-brand {
            float: left;
            margin-top: 10px;
        }
        .navbar-end {
            float: right;
            margin-top: 10px;
    
            .button {
                font-size: 12px;
                width: 90px;
                height: 30px;
            }
        }

        .navbar-item {
            display: inline-block;
        }
    }

    .section {
        .common-title {
            font-size: 40px;
        }
    }

    .index-page {
        .section1 {
            height: 600px;

            h1 {
                font-size: 70px;
                top: 42%;
            }

            .content {
                top: 500px;
                height: 150px;
            }

            h2 {
                font-size: 20px;
                line-height: 40px;
                margin: 15px 0 0 50px;
            }
        }

        .section2 {
            height: 450px;

            .common-title {
                margin-top: 100px;
            }

            .column {
                height: 260px;

                .column-title {
                    font-size: 18px;
                }

                .text {
                    padding: 5px 10px;
                    height: 100px;
                }
            }
        }

        .section3 {
            height: 450px;

            .container {
                top: -30px;
                height: 90%;
            }

        }

        .section4 {
            .container {
                margin-top: 40px;
            }

            .content {
                width: 70%;
            }

            .swiper-column {
                width: 300px;
                margin: 0 20px 0 50px;
            }

            .desc-text {
                margin-top: .45rem;

                li {
                    font-size: 1rem;
                    margin-bottom: 19px;
                }
            }
        }

        .section6 {
            .process {
                transform: scale(.6);
                margin-top: -100px;
            }
        }

        .section7 {
            .section-title {
                font-size: 40px;
            }

            .case {
                height: 500px;
            }

            .content {
                margin-top: 100px;
            }

            .case-list {
                margin: 50px;
            }

            .column {
                font-size: 12px;
            }
        }
    }

    .about-page {
        .section1 {
            height: 550px;

            h1 {
                font-size: 50px;
            }
        }
    }

    .footer {
        font-size: 10px;
    }
}