@charset "utf-8";
@import "~bulma/bulma";

$totalWidth: 1920px;
@function px2percent($args, $total) {
    @return percentage($args / $total);
}

body {
    font-family: 'PingFangSC-Medium', 'Times New Roman', Times, serif;
    color: #5a5a5a;
}

.navbar {
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;

    .navbar-brand {
        margin-left: 360px;
    }
}

h1 {
    font-size: 108px;
}

.section {
    position: relative;
}

.index-page {
    .title {
        position: absolute;
        left: px2percent(406px, $totalWidth);
    }
}